@import "settings/variables";

body {
    font-family: $sans;
    background-color: $background;
    color: $white;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: $black;
    height: 70px; 
    display: flex;
    align-items: center;
    padding: 0 40px;

    .container {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .logo {
        font-family: $sans;
        font-size: 24px;
        font-weight: bold;
        color: $primary;
        margin-right: 580px;

        span {
            font-weight: bold;
            color: $white;
        }
    }

    .nav {
        margin-left: auto;
        
        ul {
            list-style: none;
            display: flex;
            gap: 30px;
        }

        a {
            font-family: $serif;
            color:$white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            transition: color 0.3s ease;

            &:hover {
                color: $primary;
            }
        }
    }
}

/* Hero */
.hero {
    background-image: url('../assets/images/hero_bg.png');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    text-align: center;
    color: $white;
    
    h2 {
        font-family: $serif;
        font-size: 48px;
        line-height: 1.2;
        color: $white;
        font-weight: bold;
        
        span {
            color: $primary;
        }

        &::after {
            content: "";
            display: block;
            width: 180px;
            height: 1px;
            background-color: $primary;
            margin: 20px auto 0 auto;
        }
    }
    
    p {
        font-size: 20px;
        color: $white;
        margin-top: 20px;
    }
    
}

/* Featured News */
.featured-news {
    padding: 50px 0;

    .container{
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .featured-news-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    h3 {
        font-family: $serif;
        font-size: 36px;
        color: $white;
        margin: 0;
    }

    .all-featured-news {
        color: $primary;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        white-space: nowrap;
    }

    .news-grid {
        display: grid;
        grid-template-columns: 500px 510px;
        grid-gap: 20px;
        margin-top: 30px;

        .news-item {
            position: relative;
            background-color: #001E30;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
                opacity: 0.6;
            }

            .content {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 10px;
                padding: 10px;
            }

            h4 {
                font-family: $serif;
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                color: $white;
            }

            .date, .author {
                font-size: 0.9rem;
                color: $gray;
            }

            .category {
                background-color: $primary;
                color: $black;
                padding: 5px 10px;
                border-radius: 21px;
                font-family: $serif;
                font-size: 12px;
                font-weight: bold;
                align-self: flex-start;
            }
        }

        /* Primera noticia más grande */
        .large {
            height: 380px;
            grid-column: 1 / span 1;
        }

        /* Noticias más pequeñas */
        .small-news-grid {
            display: grid;
            grid-template-rows: 185px 185px;
            grid-gap: 10px;

            .news-item {
                height: 185px;
            }
        }
    }
    
    &::after {
        content: "";
        display: block;
        width: 1440px;
        height: 1px;
        background-color: $sigle-line;
        margin: 50px auto 0 auto;
    }
}

/* Latest News */
.latest-news {
    padding: 50px 0;
    text-align: center;

    h3 {
        font-family: $serif;
        font-size: 36px;
        font-weight: bold;
        color: $white;
        margin-bottom: 20px;

        &::after {
            content: "";
            display: block;
            width: 120px;
            height: 1px;
            background-color: $primary;
            margin: 20px auto 0 auto;
        }
    }

    p {
        font-family: $sans;
        font-size: 16px;
        color: $white;
        margin-bottom: 40px;
    }

    .filter-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;

        button {
            background-color: transparent;
            color: $white;
            border: 2px solid $primary;
            padding: 10px 20px;
            border-radius: 30px;
            font-family: $sans;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $primary;
                color: $black;
            }
        }
    }

    .news-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: center;

        article {
            position: relative;
            display: flex;
            background-color: $black;
            border-radius: 10px;
            overflow: hidden;
            height: 160px;
            width: 500px;

            img {
                width: 188px;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
                z-index: 1; 
            }

            .news-info {
                position: relative;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                z-index: 2;

                .category {
                    background-color: $primary;
                    color: $black;
                    padding: 5px 10px;
                    border-radius: 21px;
                    font-family: $serif;
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    max-width: 60px;
                    text-align: center;
                }

                .date {
                    font-size: 14px;
                    color: $gray;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                h4 {
                    font-family: $serif;
                    font-size: 24px;
                    font-weight: bold;
                    color: $white;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    color: $gray;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .news-page-button {
        background-color: $primary;
        color: $black;
        font-family: $sans;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 55px;
        border: none;
        cursor: pointer;
        margin-top: 40px;
        max-width: 180px;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

/* Premium */
.premium-section {
    height: 239px;
    background-image: url('../images/premium.png');
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // Tres columnas
    align-items: center; // Alinear verticalmente los elementos
    padding: 0 40px; // Padding lateral

    .premium-title,
    .premium-description,
    .premium-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .premium-title {
        grid-column: 1 / 2; // El título en la primera columna
        
        h2 {
            font-family: $serif;
            font-weight: bold;
            font-size: 48px;
            color: $white;
            line-height: 1.2;
            margin-bottom: 10px;
            text-align: left;
            //white-space: pre-wrap;
            max-width: 200px;

            span {
                color: $primary;
            }
        }
    }

    .premium-description {
        grid-column: 2 / 3; // El párrafo en la segunda columna

        p {
            font-family: $sans;
            font-size: 20px;
            color: $white;
            text-align: left;
            font-weight: 350;
        }
    }

    .premium-button {
        grid-column: 3 / 4; // El botón en la tercera columna
        display: flex;
        justify-content: center; // Alinear el botón a la derecha
        
        button {
            background-color: $primary;
            color: $black;
            font-family: $sans;
            font-weight: bold;
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 55px;
            border: none;
            cursor: pointer;
            min-width: 180px;

            &:hover {
                background-color: darken($primary, 10%);
            }
        }
        
    }
}

/* Footer */
.footer {
    background-color: $black;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
        font-family: $serif;
        font-weight: bold;
        font-size: 30px;
        color: $white;
        margin-bottom: 20px;
    }

    .social-icons {
        display: flex;
        gap: 20px;
        justify-content: center;

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: $mobile) {
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 10px;
    }

    p {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .news-list {
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: $tablet) /*and (min-width: $mobile + 1)*/ {
    body {
        font-size: 16px;
        line-height: 1.6;
    }

    h1 {
        font-size: 32px; 
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .container {
        padding: 15px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-list {
        grid-template-columns: 1fr 1fr; 
    }

    button {
        width: auto;
        padding: 12px 20px;
    }
}

@media (min-width: $desktop) {
    body {
        font-size: 20px; // Larger font size for bigger screens
        line-height: 1.75;
    }

    h1 {
        font-size: 48px; // Larger heading sizes for desktops
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    .container {
        padding: 20px; // More padding on larger screens
    }

    // Maintain grid layout with 3 columns on larger screens
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .news-list {
        grid-template-columns: repeat(2, 1fr); // Two columns for news items on large screens
    }

    button {
        width: auto;
        padding: 15px 30px;
    }
}